/* Stili Liber Liber 2016-08-22 */

.box_sponsor {
border : #dddddd dashed 1px;
padding : 1em;
text-align : center;
}
#corpo_copertina {
border-width : 0;
margin : 0;
padding : 0;
}
h1 {
text-align : center;
}
h2 {
text-align : center;
}
h3 {
text-align : center;
}
img {
border-width : 0;
}
.immagine_copertina {
border-width : 0;
margin : 0;
padding : 0;
}
.LLinfo {
font-family : "Courier New";
}
.LLinfo-titolo {
font-family : "Courier New";
font-weight : bold;
text-align : center;
}
.tabella_centrata {
margin-left:auto;
margin-right:auto;
}
.testo_centrato {
text-align : center;
}
#testo_copertina {
display:none;
visibility:hidden;
}
.testo_corsivo {
font-style: italic;
}
.testo_destra {
text-align : right;
}
p.testo_dialogo {
margin : 0 0 0 1em;
text-indent : -1em;
}
.testo_didascalia {
page-break-inside:avoid;
}
.testo_distanziato {
padding-top: 2em;
}
.testo_frontespizio_autore {
font-size : 120%;
text-align : center;
}
.testo_frontespizio_titolo {
font-size : 160%;
 text-align : center;
}
.testo_grande {
font-size : x-large;
font-weight : bold;
}
.testo_grande-x {
font-size : xx-large;
font-weight : bold;
}
.testo_ind {
font-style : italic;
margin : 0 0 0 1em;
text-indent : -1em;
}
.testo_indicazioni_scena {
font-style : italic;
}
p.testo_indicazioni_scena {
margin : 0 1em 0 1em;
}
.testo_indice {
list-style-type:none;
margin-left:0;
padding-left:0;
}
.testo_indice a {
text-decoration:none;
}
.testo_indice ul {
list-style-type:none;
}
.testo_invisibile {
display : none;
visibility : hidden;
}
.testo_laterale {
float : right;
}
.testo_laterale + div, ol, p, table, ul {
clear : both;
}
.testo_lettera {
margin : 1em auto;
padding : 1em;
background-color : #EEE;
width : 90%;
}
.testo_maiuscoletto {
font-variant : small-caps;
}
.testo_no_virgolette {
quotes: none;
}
.testo_nota {
font-size : 90%;
}
.testo_nota_torna {
margin-bottom : 2em;
}
p.testo_personaggio {
color : #400;
margin-bottom : 0;
}
.testo_piccolo {
font-size : small;
}
.testo_piccolo-x {
font-size : x-small;
}
.testo_poesia {
margin-left : 1em;
}
.testo_rientrato {
margin : 0 1em 0 1em;
}
.testo_sinistra {
text-align : left;
}
.testo_tondo {
font-style : normal;
}

/* Stili Liber Liber 2016-08-22 - stili specifici INIZIO */

/* Stili Liber Liber 2016-08-22 - stili specifici FINE */